<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.188" newVersion="1.1.0.188" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <!--<add name="dbBeeHRMEntities" connectionString="metadata=res://*/dbBeeHRMEntities.csdl|res://*/dbBeeHRMEntities.ssdl|res://*/dbBeeHRMEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=YMDOTNET;initial catalog=dbBeeHRM-Live;user id=sa;password=sa123##;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
     
  
  <!--<add name="dbBeeHRMEntities" connectionString="metadata=res://*/dbBeeHRMEntities.csdl|res://*/dbBeeHRMEntities.ssdl|res://*/dbBeeHRMEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-E6B3ILM;initial catalog=dbBeeHRM-Live;user id=sa;password=P@ssw0rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
<!--<add name="dbBeeHRMEntities" connectionString="metadata=res://*/dbBeeHRMEntities.csdl|res://*/dbBeeHRMEntities.ssdl|res://*/dbBeeHRMEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-E6B3ILM;initial catalog=dbBeeHRM-Live;user id=sa;password=P@ssw0rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
<add name="dbBeeHRMEntities" connectionString="metadata=res://*/dbBeeHRMEntities.csdl|res://*/dbBeeHRMEntities.ssdl|res://*/dbBeeHRMEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=dbBeeHRM-Live;user id=sa;password=sandman;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>