@using StackExchange.Profiling;
<!DOCTYPE html>
<html>
<head>
    
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/Content/startbootstrap-simple-sidebar-1.0.5/css/simple-sidebar.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />


    <link href="~/Content/admin.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/brand.css" rel="stylesheet" />
    <link href="~/Content/nanoscroller.css" rel="stylesheet" />
    <link href="~/Content/EmployeeProfile.css" rel="stylesheet" />
    <style type="text/css">
        #notification_li {
            position: relative;
        }

        .readOnlyClas{
            
        }
        #notificationContainer {
            background-color: #fff;
            border: 1px solid rgba(100, 100, 100, .4);
            -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
            overflow: visible;
            position: absolute;
            top: 30px;
            margin-left: -180px;
            width: 390px;
            z-index: 999999;
            display: none;
        }

            #notificationContainer:before {
                content: '';
                display: block;
                position: absolute;
                width: 0;
                height: 0;
                color: transparent;
                border: 10px solid black;
                border-color: transparent transparent white;
                margin-top: -20px;
                margin-left: 188px;
            }

        #notificationTitle {
            font-weight: bold;
            padding: 8px;
            font-size: 13px;
            background-color: #1ac6ff;
            position: fixed;
            z-index: 1000;
            width: 390px;
            color: #fff;
        }

        #notificationsBody {
            padding: 33px 0px 0px 0px !important;
            min-height: 300px;
            margin-top: 5px;
        }

        #notificationFooter {
            background-color: #e9eaed;
            text-align: center;
            font-weight: bold;
            padding: 8px;
            font-size: 12px;
            border-top: 1px solid #dddddd;
        }

        #notification_count {
            background: #F00;
            border-radius: 9px;
            color: #ffffff;
            font-size: 11px;
            font-weight: bolder;
            margin-left: 23px;
            padding: 5px;
            position: absolute;
        }
    </style>
    @RenderSection("styles", required: false)
</head>


<body>
   
        @RenderSection("SideBar", required: false)
        @RenderSection("PageHeader", required: false)
        <div class="row">
            <div class="col-lg-12 col-md-12" id="page-content-wrapper">
                @RenderBody()
            </div>
        </div>
        <div class="row">
            <footer class="blue navbar-fixed-bottom1">
                <hr />
                <p style="padding-bottom: 2px; margin-bottom: 2px;"> Copyright &copy; 2016 <a href="http://www.youngminds.com.np">Young Minds  </a>. All rights reserved </p>
                Powered by <a href="http://www.youngminds.com.np" target="_blank">Young Minds</a>
            </footer>
        </div>
    



    <script src="~/Scripts/jquery-2.2.3.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.nanoscroller.js"></script>
    <script src="~/Content/scripts/ConfigurationCreate.js"></script>
    
   
</body>
</html>
