<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>


    <div style="border-top:3px solid #22BCE5"> </div>
    <span style="font-family:Arial;font-size:10pt">
        Dear <b>{UserName}</b>,<br /><br />
        <p>
            {Description}
        </p>
        <br/>
        
        <br /><br />
        <a style="color:#22BCE5" href="{Url}">{Title}</a><br />

        <br />
        <br />
        <b> Thanks </b>  <br />
        <h4>HRIS Team </h4>
    </span>
    <br /><hr />
    <img src="http://nepacall.com/images/Agriculture_Development_Bank_Limited.jpg" style="max-height:100px" />
    <br /><br />
</body>
</html>