@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<link href="~/Content/errror/css/style.css" rel="stylesheet" />

<div class="wrap">

    <div class="content">
        <br />
        <br />
        <br />
        <br />
        <br />
        <p><span><label>O</label>Oops !! </span>Sorry !! You Requested the page that is no  Available </p>
        <a class="btn-info btn" href="~/Account/Login">Back To Home</a>
        <div class="copy-right">
            <div class="row">

               
            </div>
        </div>
    </div>
    
</div>


