
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<link href="~/Content/errror/css/style.css" rel="stylesheet" />


<!--start-wrap--->
<div class="wrap">

    <div class="content">

        <img src="~/Content/errror/images/error-img.png" />
        <p><span><label>O</label>Oops !! </span>Sorry !! You Requested the page that is no  Available </p>
        <a href="~/Account/Login">Back To Home</a>
        <div class="copy-right">
            <div class="row">

                <hr />
                <p style="padding-bottom: 2px; margin-bottom: 2px;"> Copyright &copy; 2016 <a href="http://www.youngminds.com.np">Young Minds  </a>. All rights reserved </p>
                Powered by <p>Young Minds</p>

            </div>
        </div>
    </div>
    <!--End-Cotent------>
</div>
<!--End-wrap--->
</body>
