@model BeeHRM.ApplicationService.DTOs.PayrollLeaveDeductionInformation

@{
    ViewBag.Title = "Index";
    Layout = null
}


<table>
    <tr>
        <th>Leave Balance</th>
    </tr>
    <tr>
        @Html.DisplayFor(Model.leavebalance)
   </tr>

</table>





