
@{
    ViewBag.Title = "404 Not Found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section SideBar{
    <div class="wrapper container-fluid" id="wrapper">
        <div id="sidebar-wrapper" class="menusBg menusColor">
           
        </div>
    </div>
}



@section PageHeader{
    <div class="small-header">
        <div class="hpanel">
            <div class="panel-body">
                

                <h1 style="color:#ad1f1f">
                    404

                    Page Not Found...
                </h1>
                <p class="label label-danger" > Sorry!! The URL you requested not found .</p>
               
            </div>
        </div>
    </div>
}

