@model int
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section SideBar{
    <div class="wrapper container-fluid" id="wrapper">
        <div id="sidebar-wrapper" class="menusBg menusColor">
            <ul class="sidebar-nav">
                @foreach (var item in ViewBag.SideBar)
                {
                    <li><a href="@item.MduleLink"><i class="@item.ModuleCssClass" aria-hidden="true"></i> @Html.Raw(item.MOduleName)</a></li>
                }
            </ul>
        </div>
    </div>
}



@section PageHeader{
    <div class="small-header">
        <div class="hpanel">
            <div class="panel-body">
                <h2 class="font-light m-b-xs">
                    Reset Password
                </h2>
            </div>
        </div>
    </div>
}



<div class="panel-body box box-top-border">

    <div class="plane panel-body">
        <div class="col-xs-12">

            <p>The new generated password will be sent to the employee Email.</p>

            <button class="btn btn-info" onclick="ResetPassword(@Model)"> Reset password </button>

            <br />
            <br/>
            <div class="col-md-12" id="message">

            </div>
        </div>

    </div>
</div>
@section scripts{

    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/multiselect/js/multiselect.js"></script>



    <script type="text/javascript">
        function ResetPassword(empcode)
        {
           
            $.ajax
                ({
                    type: "POST",
                    url: "/admin/passwordreset/" + empcode,
                    success: function (response) 
                    {
                        debugger
                        if (response.Success==true) {
                            $('#message').empty();
                            var mgs = '<div class="alert alert-success">Password Reset sucessfully. Now , new password for employee '+ empcode +' is <b> " '+response.password+' "</b> .</div>';
                            $('#message').append(mgs);
                        }                
                    },
                    error: function ()
                    {
                        $('#message').empty();
                        var mgs='<div class="alert alert-danger"><strong>Oops sorry  !</strong> this action can not be accomplished at the moment !!</div>';
                        $('#message').append(mgs);
                    }
                });
        }
     </script>
}